<h2>List of Employee</h2>
<pre>{{ employes | json }}</pre>
<button data-toggle="modal" data-target="#addModal" (click)="empty()" class="btn btn-info">Add New</button>
<br />
<table class="table table-dark mt-3">
    <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let x of employes; let n=index">
        <td>{{ n+1 }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.age }}</td>
        <td>{{ x.city }}</td>
        <td><button data-target="#addModal" (click)="askEdit(x)" data-toggle="modal" class="btn btn-warning btn-sm">Edit</button></td>
        <td><button data-target="#delModal" (click)="askDelete(x)" data-toggle="modal" class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
</table>





<div class="modal fade" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Employee</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <strong>{{ employee.name }}</strong> !</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" (click)="delete()">Delete</button>
                <button class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ employee.id ? 'Update' : 'Add'}} Student</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="employee.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="text" [(ngModel)]="employee.age" class="form-control" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" [(ngModel)]="employee.city">
                        <option value="">Select</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="indore">Indore</option>
                        <option value="pune">Pune</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" >Close</button>
                <button class="btn btn-primary" data-dismiss="modal" (click)="add()">{{ employee.id ? 'Update' : 'Add' }}</button>
            </div>
        </div>
    </div>
</div>