<section style="margin: 80px;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-8 offset-md-2 p-4">
                    <h3 class="my-4 text-center">Registration</h3>
                   
                        <div class="form-group">
                          <label for="email">Full Name</label>
                          <input type="text" class="form-control" [(ngModel)]="teacher.full_name" placeholder="Full Name" id="email">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" [(ngModel)]="teacher.username" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Password:</label> 
                          <input type="password" class="form-control" [(ngModel)]="teacher.password" placeholder="Enter password" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Re-Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                        </div>
                        
                        <button (click)="signup()" type="button" class="btn btn-primary">Submit</button>
                      
                </div>
                  
                
            </div>
        </div>
    </div>
</section>