<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>This is About Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident est atque architecto. Aut
            ipsam possimus modi provident nemo eaque aliquid eligendi ipsum, mollitia, voluptates esse sint, assumenda
            dolorum dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iure aut animi delectus, fugit officiis quam debitis repellat corporis ut. Corrupti consequatur minus nam voluptatem dolorem aperiam, iure omnis aspernatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero laboriosam atque. Esse expedita nostrum, voluptas incidunt, cum similique nisi repellendus eligendi, natus reiciendis explicabo asperiores libero. Sint, dicta esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ipsam facere, libero tenetur eos culpa voluptate sequi ullam fugiat quibusdam nam, expedita aut perspiciatis quaerat cumque unde ipsa enim quia! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus porro ipsa illo a nemo earum adipisci possimus repellendus veniam! Sit, dolorem doloremque cupiditate repudiandae at repellendus ipsum fuga distinctio omnis.</p>
    </div>
</div>