<div class="container">
    <Div class="row">
        <div class="col-md-8">
            <h3>File Upload in Angular</h3>
            <input type="file" #file/>
            <br />
            <br />
            <button (click)="upload(file)" class="btn btn-primary">Upload</button>
        </div>
        <div class="col-md-4">
            <p #para>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit illum at vel, saepe amet magnam dolore quos, est earum, optio reiciendis ipsam. Ex similique possimus voluptates quibusdam vel dolores enim.</p>
            <button class="btn btn-info" (click)="demo(para)">Click</button>
        </div>
    </Div>
</div>
