<h3 class="text-center">Edit Student</h3>
<br />

<div class="col-md-8 offset-md-2">
    <form action="/student/edit" method="post">
    <div class="card">
        <div class="card-body">
            <input type="hidden" name="id" value="<%= student._id %>" />
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" value="<%= student.name %>" class="form-control" name="name" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" value="<%= student.age %>" class="form-control" name="age" />
            </div>
            <div class="form-group">
                <label>City</label>
                <select class="form-control" name="city">
                    <option value="">Select</option>
                    <option <% if(student.city=='indore'){ %>  selected='selected' <% } %> value="indore">Indore</option>
                    <option <% if(student.city=='ujjain'){ %>  selected='selected' <% } %> value="ujjain">Ujjain</option>
                    <option <% if(student.city=='bhopal'){ %>  selected='selected' <% } %> value="bhopal">Bhopal</option>
                    <option <% if(student.city=='pune'){ %>  selected='selected' <% } %> value="pune">Pune</option>
                    <option <% if(student.city=='delhi'){ %> selected='selected' <% } %> value="delhi">Delhi</option>
                    <option <% if(student.city=='mumbai'){ %> selected='selected' <% } %> value="mumbai">Mumbai</option>
                </select>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-success" />
        </div>
    </div>
    </form>
</div>



