<!-- 
    -success
    -primary
    -danger
    -info
    -warning
    -secondary
    -dark
    -light


    bg -------- background
    text --------- text
    border ---------- border
    btn --------- btn








 -->


<html>

<head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <button class="btn btn-success">Login</button>
                    <button class="btn btn-primary">Login</button>
                    <button class="btn btn-secondary">Login</button>
                    <button class="btn btn-dark">Login</button>
                    <button class="btn btn-danger">Login</button>
                    <button class="btn btn-info">Login</button>
                    <button class="btn btn-warning">Login</button>
                    <button class="btn btn-warning btn-sm">Login</button>
                    <button class="btn btn-warning btn-lg">Login</button>
                    <button class="btn btn-outline-dark">Login</button>

                    <a href="" class="btn btn-primary">Google</a>
            </div>


           
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table table-dark table-bordered table-striped table-hover">
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>City</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <Td>James</Td>
                        <Td>25</Td>
                        <Td>Indore</Td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <Td>James</Td>
                        <Td>25</Td>
                        <Td>Indore</Td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <Td>James</Td>
                        <Td>25</Td>
                        <Td>Indore</Td>
                    </tr>
                    
                    <tr>
                        <td>1</td>
                        <Td>James</Td>
                        <Td>25</Td>
                        <Td>Indore</Td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <Td>James</Td>
                        <Td>25</Td>
                        <Td>Indore</Td>
                    </tr>
                </table>
            </div>
        </div>

        
    </div>

</body>

</html>