<!-- 
    -success
    -primary
    -danger
    -info
    -warning
    -secondary
    -dark
    -light


    bg -------- background
    text --------- text
    border ---------- border
    btn --------- btn








 -->


<html>

<head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ipsam, odit, deleniti sapiente maxime ratione tenetur deserunt excepturi, fugiat iure voluptas! Ullam, corporis perspiciatis incidunt sed quia harum blanditiis fuga?
            </div>
            <div class="col-md-6">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae officiis ducimus consequuntur aliquam nulla optio aspernatur praesentium molestiae, deleniti voluptate similique ratione eos! Veniam ullam accusamus dolores voluptate, asperiores consequatur!
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur dolor illum nobis repudiandae voluptates sit, repellendus cumque vero consequuntur, perferendis hic totam iure ipsa voluptatum dolores! Delectus, voluptates temporibus?
            </div>
            <div class="col-md-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur dolor illum nobis repudiandae voluptates
                sit, repellendus cumque vero consequuntur, perferendis hic totam iure ipsa voluptatum dolores! Delectus, voluptates
                temporibus?
            </div>
            <div class="col-md-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur dolor illum nobis repudiandae voluptates
                sit, repellendus cumque vero consequuntur, perferendis hic totam iure ipsa voluptatum dolores! Delectus, voluptates
                temporibus?
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veniam eveniet fugit atque sequi? Ullam quibusdam iusto nemo? Maiores sapiente obcaecati corrupti porro harum hic consequuntur ea voluptate cupiditate. Deleniti.
            </div>
            <div class="col-md-9">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, excepturi obcaecati architecto voluptas ab incidunt cum quas sapiente assumenda, aut ut natus, ad doloribus. Esse dolorem ducimus et eius amet.
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-3 offset-md-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure voluptatibus repellendus, eveniet perferendis dicta distinctio nesciunt doloremque voluptatum veniam tempore molestiae nostrum omnis est at amet velit quis error!
            </div>
            <div class="col-md-3 offset-md-1">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quaerat ut laborum corrupti in doloremque recusandae, quis, nesciunt ipsam nostrum officia! Quam obcaecati illo odit quos esse ipsa in magnam!
            </div>
        </div>
    </div>

</body>

</html>