<!-- 
    -success
    -primary
    -danger
    -info
    -warning
    -secondary
    -dark
    -light


    bg -------- background
    text --------- text
    border ---------- border
    btn --------- btn








 -->


<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
        <script src="/jquery/dist/jquery.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <div class="container-fluid bg-primary">
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia similique dolor possimus totam ducimus corrupti, architecto sunt eligendi aliquid, itaque quaerat ipsam obcaecati blanditiis perspiciatis id porro. At, obcaecati magni!
            </div>
        </div>
        <div class="container-fluid" style="min-height: 700px;">
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia similique dolor possimus totam ducimus corrupti,
                architecto sunt eligendi aliquid, itaque quaerat ipsam obcaecati blanditiis perspiciatis id porro. At, obcaecati
                magni!
            </div>
        </div>
        <div class="container-fluid bg-danger">
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia similique dolor possimus totam ducimus corrupti,
                architecto sunt eligendi aliquid, itaque quaerat ipsam obcaecati blanditiis perspiciatis id porro. At, obcaecati
                magni!
            </div>
        </div>
    </body>
</html>