<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
        <script src="/jquery/dist/jquery.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <H2>home page</H2>
    </body>
</html>