<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>This is Home Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident est atque architecto. Aut ipsam possimus modi provident nemo eaque aliquid eligendi ipsum, mollitia, voluptates esse sint, assumenda dolorum dicta.</p>
    </div>
</div>