<section style="margin: 80px;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-8 offset-md-2">
                    <h3 class="mt-4">Login</h3>
                   
                        <div class="form-group">
                          <label for="email">Email address:</label>
                          <input type="email" class="form-control" placeholder="Enter email" id="email">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                      
                </div>
                  
                
            </div>
        </div>
    </div>
</section>